<template>
    <v-row>
        <!-- eslint-disable vue/valid-v-slot -->
        <v-col>
            <v-row>
                <v-col>
                    <h2>Lineas</h2>
                </v-col>
                <v-col class="d-flex">
                    <v-spacer></v-spacer>
                    <v-menu bottom offset-y>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn class="ma-2" dark color="#DCA56F" elevation="0" v-bind="attrs" v-on="on">
                                Añadir
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item @click="() => $router.push(chargesFormUrl)">
                                <v-list-item-title>Gasto</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click="() => $router.push(incomeFormUrl)">
                                <v-list-item-title>Ingreso</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-col>
            </v-row>
            <v-row v-if="showStats">
                <v-col>
                    <v-row>
                        <v-col class="stat-box" :cols="12" md="4">
                            <v-banner class="saldo-line" dark color="green">
                                <p>Saldo <strong>salud</strong></p>
                                <p class="price"><io-dometer :value="saldo.health" />€</p>
                            </v-banner>
                        </v-col>
                        <v-col class="stat-box" :cols="12" md="4">
                            <v-banner class="saldo-line" dark color="orange">
                                <p>Saldo <strong>personal</strong> </p>
                                <p class="price"><io-dometer :value="saldo.personal" />€</p>
                            </v-banner>
                        </v-col>
                        <v-col class="stat-box" :cols="12" md="4">
                            <v-banner class="saldo-line" dark color="brown">
                                <p>Saldo <strong>material</strong></p>
                                <p class="price"><io-dometer :value="saldo.goods" />€</p>
                            </v-banner>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
            <v-row class="lines">
                <v-col>
                    <v-data-iterator v-if="lines.length"  :items="lines" item-key="time">
                        <template v-slot:default="{ items }">
                            <project-line v-for="item in items" :key="item._id" :item="item" />
                        </template>
                    </v-data-iterator>
                </v-col>
            </v-row>
            <nuxt-child />
        </v-col>
    </v-row>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import ProjectLine from '../../../components/project-line.vue';
export default {
    components: {ProjectLine},
    data() {
        return {
            title: 'Administrando un proyecto',
        }
    },
    async mounted() {
        await this.getLines(this.$route.params.id)
        if (this.$store.state.project.items.length === 0) {
            await this.fetchProjects()
        }
        this.title = this.$store.state.project.items.find(e => {
            return e._id === this.$route.params.id
        }).name
    },
    head() {
        return {
            title: this.title
        }
    },
    methods: {
        ...mapActions('project', ['fetchProjects']),
        ...mapActions('stats', ['getLines']),
        ...mapActions('charges', ['removeCharge']),
        ...mapActions('income', ['removeIncome']),
        removeItem(item) {
            const isIncome = item.goods > 0
                || item.health > 0
                || item.personal > 0
            if (isIncome) {
                this.removeIncome(item)
            } else {
                this.removeCharge(item)
            }
        }
    },
    computed: {
        ...mapState('stats', ['showStats']),
        ...mapGetters('stats', ['lines', 'saldo']),
        incomeFormUrl() {
            return `/project/${this.$route.params.id}/addIncome`
        },
        chargesFormUrl() {
            return `/project/${this.$route.params.id}/addCharge`
        }
    }
}
</script>

<style lang="scss">
.lines {
    margin-top: 30px;
}
.stat-box {
    .v-banner {
        border-radius: 20px;
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                margin: 5px 0px !important;
                &.price {
                    font-size: 40px;
                }
            }
        }
    }
}
</style>