<template>
    <modal-window :title="'Añadir ingreso'">
        <p class="red--text font-weight-bold text-center text-sm-h6" v-if="message">{{message}}</p>
        <v-form @submit.prevent="() => addCharge({charge, cb})">
            <v-text-field :error-messages="errors && errors['concept']" v-model="charge.concept" label="Concepto" />
            <v-row>
                <v-col cols="12" md="4">
                    <v-menu ref="menu" v-model="menu" transition="scale-transition" offset-y min-width="290px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field :error-messages="errors && errors['time']" v-model="date" label="Momento de pago" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                        </template>
                        <v-date-picker ref="picker" v-model="date"></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="4">
                    <v-text-field :error-messages="errors && errors['amount']" v-model="charge.amount" type="number" label="Cantidad" />
                </v-col>
                <v-col cols="12" md="4">
                    <v-select :error-messages="errors && errors['type']" v-model="charge.type" label="Elige el tipo de cargo" :items="types" item-text="label" item-value="type" />
                </v-col>
            </v-row>
            <v-select :error-messages="errors && errors['person']" v-model="charge.person" label="Indica la persona a la que corresponda este ingreso"
                :items="members" item-text="fullname" item-value="_id" v-if="charge.type === 'personal'" />
            <v-row>
                <v-col>
                    <v-btn type="submit">Añadir cargo</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </modal-window>
</template>

<script>
import ModalWindow from "../../../../components/modal-window.vue";
import { mapActions, mapState } from "vuex";
import http from "../../../../plugins/http.js";
import momentjs from "moment";
export default {
    components: {ModalWindow},
    data() {
        return {
            menu: false,
            charge: {
                time: null,
                concept: '',
                type: '',
                person: null,
                amount: 0
            },
            types: [
                {type: 'goods', label: 'Material'},
                {type: 'health', label: 'Salud'},
                {type: 'personal', label: 'Personal'},
            ],
            members: []
        }
    },
    head() {
        return {
            title: "Añadiendo un pago"
        }
    },
    methods: {
        ...mapActions('charges', ['addCharge']),
        cb() {
            this.$router.go(-1)
        }
    },
    computed: {
        ...mapState('charges', ['message', 'errors']),
        date: {
            get() {
                if (this.charge.time) {
                    const d = new Date(this.charge.time)
                    const year = d.getFullYear()
                    const month = `${d.getMonth() + 1}`.padStart(2, 0)
                    const day = `${d.getDate()}`.padStart(2, 0)
                    return `${year}-${month}-${day}`
                } else return null
            },
            set(val) {
                console.log(val);
                const [year, month, day] = val.split('-')
                this.charge.time = new Date(year, month, day).getTime()
                console.log(this.charge.time);
            }
        }
    },
    watch: {
        async 'charge.type'(newv) {
            if (newv === 'personal') {
                const members = await http.get('/users')
                this.members = members.data.map(member => {
                    member.fullname = `${member.name} ${member.surname}`
                    return member
                })
            }
        },
        async 'charge.person'(newv) {
            const member = this.members.find(e => e._id === newv)
            this.charge.concept = `Pago a ${member.name} ${member.surname}`
        }
    }
}
</script>