<template>
    <modal-window :title="'Añadir ingreso'">
        <v-form @submit.prevent="() => addIncome({incomeData: income, cb})">
            <v-menu ref="menu" v-model="menu" transition="scale-transition" offset-y min-width="290px">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field :error-messages="errors && errors['time']"  v-model="income.date" label="Fecha de ingreso" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker ref="picker" v-model="income.date"></v-date-picker>
            </v-menu>
            <v-row>
                <v-col>
                    <v-text-field :error-messages="errors && errors['personal']" v-model="income.personal" label="Personal" />
                </v-col>
                <v-col>
                    <v-text-field :error-messages="errors && errors['health']" v-model="income.health" label="Salud" />
                </v-col>
                <v-col>
                    <v-text-field :error-messages="errors && errors['goods']" v-model="income.goods" label="Materiales" />
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn type="submit">Añadir ingreso</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </modal-window>
</template>

<script>
import ModalWindow from "../../../../components/modal-window.vue";
import { mapActions, mapState } from "vuex";
export default {
    components: {ModalWindow},
    data() {
        return {
            menu: false,
            income: {
                date: '',
                personal: 0,
                goods: 0,
                health: 0
            }
        }
    },
    head() {
        return {
            title: 'Añadiendo un ingreso'
        }
    },
    computed: {
        ...mapState('income', ['errors'])
    },
    methods: {
        ...mapActions('income', ['addIncome']),
        cb() {
            this.$router.go(-1)
        }
    }
}
</script>