<template>
    <v-dialog @click:outside="$router.go(-1)" :value="true">
        <v-card>
            <v-card-title>Añadir usuario</v-card-title>
            <v-card-text>
                <v-form @submit.prevent="submitUser">
                <v-row>
                  <v-col class="avatar-container" :cols="12" md="4">
                    <div :style="avatarStyle" class="avatar"></div>
                  </v-col>
                  <v-col :cols="12" md="8">
                    <h3>Datos básicos</h3>
                    <v-row>
                        <v-col>
                          <v-text-field :error-messages="errorFor('name')" placeholder="Nombre" v-model="userData.name" />
                        </v-col>
                        <v-col>
                          <v-text-field :error-messages="errorFor('surname')" placeholder="Apellidos" v-model="userData.surname" />
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col :cols="12" md="8">
                        <v-text-field :error-messages="errorFor('email')" placeholder="Email" v-model="userData.email" />
                        </v-col>
                          <v-col :cols="12" md="4">
                          <v-text-field :error-messages="errorFor('age')" type="number" placeholder="Edad" v-model="userData.age" />
                        </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <h3>Datos de contacto</h3>
                <v-row>
                    <v-col> <v-text-field v-model="userData.telefono" :error-messages="errorFor('telefono')" placeholder="Telefono" /> </v-col>
                    <v-col> <v-text-field v-model="userData.nacionalidad" :error-messages="errorFor('nacionalidad')" placeholder="Nacionalidad" /> </v-col>
                </v-row>
                <v-row>
                    <v-col> <v-text-field v-model="userData.localidad" :error-messages="errorFor('localidad')" placeholder="localidad" /> </v-col>
                    <v-col> <v-text-field v-model="userData.sip" :error-messages="errorFor('sip')" placeholder="SIP" /> </v-col>
                </v-row>
                <h3>Otros apuntes</h3>
                <v-row>
                    <v-col>
                    <v-select v-model="userData.atencion" :items="tipoAtencion" :error-messages="errorFor('atencion')" label="Atencion" />
                    </v-col>
                    <v-col>
                    <v-select v-model="userData.motivo" :items="motivosContacto" :error-messages="errorFor('motivo')" label="Motivo de contacto" />
                    </v-col>
                </v-row>
                <v-textarea :error-messages="errorFor('observations')" filled label="Observaciones" v-model="userData.observations" />
                <v-row>
                    <v-col>
                    <v-btn type="submit">Añadir usuario</v-btn>
                    </v-col>
                </v-row>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
import getErrors from "../../../plugins/getErrors"
import { motivosContacto, tipoAtencion } from "../../../../userconstants";
import md5 from 'md5'
export default {
  data() {
    return {
      motivosContacto, tipoAtencion,
      errors: null,
      errorsMessage: null,
      userData: {
        age: 0,
        atencion: '',
        observations: '',
        email: '',
        localidad: '',
        motivo: null,
        nacionalidad: '',
        name: '',
        sip: '',
        surname: '',
        telefono: '',
      }
    }
  },
    head() {
      return {
        title: "Editando usuarios"
      }
    },
    methods: {
      ...mapActions('users', ['getUsers', 'addUser', 'updateUser']),
      ...mapMutations('users', ['toggleArchived']),
      errorFor(key) {
        return this.errors && this.errors[key] || null
      },
      async submitUser() {
        if (this.isEditing) {
          await this.updateUser({
            ...this.userData,
            _id: this.editingUser
          })
          this.$router.go(-1)
        } else {
            try {
                await this.addUser(this.userData)
                this.$router.go(-1)
            } catch (error) {
                const [message, errorsData] = error.response.data.message.split('|')
                this.errors = getErrors(JSON.parse(errorsData).errors)
                this.errorsMessage = message
            }
        }
      },
      async archiveUser(id, archived) {
        await this.updateUser({
          archived: archived,
          _id: id
        })
        console.log(archived);
      },
    },
    computed: {
      ...mapGetters('users', ['users']),
      urlEmail() {
        if (!this.userData.email) return
        const emailHashed = md5(this.userData.email)
        return `https://www.gravatar.com/avatar/${emailHashed}?d=identicon`
      },
      avatarStyle() {
        const basicStyles = {
          height: '150px',
          width: '150px',
          borderRadius: '500px',
        }
        if (this.userData.email) {
          return {
            ...basicStyles,
            background: `url('${this.urlEmail}')`
          }
        } else {
          return {
            ...basicStyles,
            border: '1px solid'
          }
        }
      },
      showModal() {
        return this.addingUser || this.editingUser.length > 0;
      },
      editingUser() {
          return this.$route.query.id
      },
      currentUser() {
        return this.users.find(u => u._id === this.editingUser)
      }
    },
    async mounted() {
      if (!this.currentUser) {
        return
      }
      this.userData.name = this.currentUser.name
      this.userData.surname = this.currentUser.surname
      this.userData.email = this.currentUser.email
      this.userData.observations = this.currentUser.observations
      this.userData.motivo = this.currentUser.motivo
      this.userData.atencion = this.currentUser.atencion
      this.userData.localidad = this.currentUser.localidad
      this.userData.nacionalidad = this.currentUser.nacionalidad
      this.userData.telefono = this.currentUser.telefono
      this.userData.sip = this.currentUser.sip
      this.userData.age = this.currentUser.age
    }
}
</script>

<style lang="scss" scoped>
.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>