<template>
<v-dialog :value="true" width="1000" @click:outside="execCallback">
    <v-card>
        <v-card-title class="headline lighten-2">
          {{title}}
        </v-card-title>
        <v-card-text>
            <slot />
        </v-card-text>
    </v-card>
</v-dialog>
</template>

<script>
export default {
    props: {
        title: {type: String, required: true},
        exitCb: {type: Function}
    },
    methods: {
        goBack() {
            this.$router.go(-1)
        },
        cancelAll() {
            console.log('cancelando');
        },
        execCallback() {
            if (this.exitCb) {
                exitCb()
            } else {
                this.$router.go(-1)
            }
        }
    }
}
</script>