<template>
<v-card dark elevation="0" class="project">
    <v-card-title class="headline">
        {{project.name}}
    </v-card-title>
    <v-card-text>
        <p>Mas información</p>
    </v-card-text>
    <v-card-actions>
        <v-btn elevation="0" color="#DCA56F" :to="projectUrl">Ver proyecto</v-btn>
        <v-spacer />
        <v-btn small elevation="0" outlined rounded text :to="editUrl">Editar</v-btn>
        <v-btn small elevation="0" outlined rounded @click="archive">{{project.archived ? 'Desarchivar' : 'Archivar'}}</v-btn>
    </v-card-actions>
</v-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
    props: ['project'],
    computed: {
        classesObject() {
            return {
                project: true,
                'project--archived': this.project.archived
            }
        },
        projectUrl() {
            return '/project/' + this.project._id
        },
        editUrl() {
            return '/edit-project?projectId=' + this.project._id
        }
    },
    methods: {
        ...mapActions('project', ['toggleArchive']),
        archive() {
            console.log('archive');
            this.toggleArchive(this.project)
        }
    }
}
</script>

<style lang="scss" scoped>
.project {
    background: #74B4CC;
}
</style>