<script>
import moment from 'moment'
import { mapActions } from "vuex";

export default {
    props: ['item'],
    methods: {
        ...mapActions('charges', ['removeCharge']),
        ...mapActions('income', ['removeIncome']),
        removeItem() {
            if (this.isIncome) {
                this.removeIncome(item)
            } else {
                this.removeCharge(item)
            }
        }
    },
    filters: {
        filterType(val) {
            switch (val) {
                case 'goods':
                    return 'Material'
                case 'health':
                    return 'Salud'
                case 'personal':
                    return 'Personal'
            
                default:
                    return 'Ingreso'
            }
        }
    },
    computed: {
        isIncome() {
            return this.item.goods > 0
                || this.item.health > 0
                || this.item.personal > 0;
        },
        classText() {
            if (this.isIncome) {
                return 'line--income'
            } else {
                switch (this.item.type) {
                    case 'goods':
                        return 'line--goods-charge'
                    case 'health':
                        return 'line--health-charge'
                    case 'personal':
                        return 'line--personal-charge'
                    default:
                        break;
                }
            }
        },
        formattedDate() {
            return moment(new Date(this.item.time)).format('L')
        },
        
    }
}
</script>

<template>
    <div :class="`line ${classText}`">
        <div class="line__description">
            <h3 class="line__title">{{formattedDate}}</h3>
            <div class="line__details">
                <p class="line__description-text">
                    <template v-if="item.goods || item.health || item.personal">
                        <span>Ingreso de 
                            <strong>{{item.goods}}€</strong> en materiales
                            <strong>{{item.health}}€</strong> en salud y
                            <strong>{{item.personal}}€</strong> en personal
                        </span>
                    </template>
                    <span v-else>{{item.concept}}</span>
                    <span class="line__description-type">{{item.type | filterType}}</span>
                </p>
            </div>
        </div>
        <div class="line__actions">
            <v-btn color="white" @click="removeItem" icon><v-icon>mdi-delete</v-icon></v-btn>
            <v-btn color="white" icon><v-icon>mdi-pen</v-icon></v-btn>
        </div>
        <span class="line__price">
            {{item.amount ? item.amount + '€' : 'Es un ingreso'}}
        </span>
    </div>
</template>

<style lang="scss">
.line {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: #DFCBA5;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    align-items: center;
    position: relative;
    margin: 35px 0px;
    &--income {
        background: #1E88E5;
    }
    &--goods-charge {
        background: #ff9800;
    }
    &--health-charge {
        background: #4caf50;
    }
    &--personal-charge {
        background: #795548;
    }
    &__description {
        &-text {
            margin-bottom: 0px !important;
        }
        &-type {
            background: #CC7474;
            color: white;
            text-align: center;
            font-weight: bold;
            padding: 5px 20px;
            border-radius: 50px;
            margin-left: 50px;
        }
    }
    &__title {

    }
    &__details {

    }
    &__actions {

    }
    &__price {
        position: absolute;
        background: #CC7474;
        color: white;
        text-align: center;
        font-weight: bold;
        right: 40px;
        top: 0px;
        padding: 5px 20px;
        border-radius: 50px;
        transform: translateY(-50%);
    }
}
</style>