<script>
import md5 from 'md5'
export default {
    props: ['user'],
    computed: {
        styleObject() {
            console.log(md5(this.user.email));
            const url = `https://www.gravatar.com/avatar/${md5(this.user.email)}?d=identicon`
            return {
                backgroundImage: `url(${url})`
            }
        }
    }
}
</script>

<template>
    <div class="user">
        <span class="user__motivo">{{user.motivo}}</span>
        <div class="user__info">
            <div class="user__avatar" v-bind:style="styleObject"></div>
            <h3 class="user__name">{{user.name}} {{user.surname}}</h3>
            <div class="user__actions">
                <v-btn elevation="0" color="#DCA56F" dark>Ver detalles</v-btn>
                <div>
                    <v-btn icon small><v-icon>mdi-pen</v-icon></v-btn>
                    <v-btn icon small><v-icon>mdi-delete</v-icon></v-btn>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.user {
    background: #74B4CC;
    position: relative;
    min-height: 400px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &__motivo {
        z-index: 30;
        position: absolute;
        top: 0px;
        transform: translate(30px, -50%);
        background: #DFCBA5;
        border-radius: 50px;
        padding: 5px 15px;
        font-weight: bold;
    }
    &__info {
        position: absolute;
        top: 100px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background: white;
        padding: 10px;
        padding-top: 60px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__name {
        text-align: center;
    }
    &__avatar {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 200px;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        background-position: center;
    }
    &__actions {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
    }
}
</style>