<template>
    <div>
        <slot v-if="authed" />
        <slot v-else name="else">
            <p>No estas autorizado a realizar esta acción</p>
        </slot>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    props: {
        authedState: {
            type: Boolean,
            default: true
        }
    },
    computed: {
        authed() {
            return this.authedState ? this.isLogged : !this.isLogged
        }
    }
}
</script>
