<template>
    <p>{{msg}}</p>
</template>

<script>
export default {
    props: {
        url: {
            type: String,
            required: true
        },
        ms: {
            type: Number,
            default: 3000
        },
        msg: {
            type: String,
            default: 'Redireccionando...'
        }
    },
    mounted() {
        setTimeout(() => {
            this.$router.push(this.url)
        }, this.ms);
    }
}
</script>