<template>
    <modal-window persistent :title="modalTitle">
        <v-form @submit.prevent='submitForm'>
            <v-text-field :error-messages="errors && errors['name']" label="Título del proyecto" v-model="project.name" />
            <v-row align="end">
                <v-col>
                    <v-btn class="mr-2" @click="$router.go(-1)" text>Volver</v-btn>
                    <v-btn type="submit">{{buttonText}}</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </modal-window>
</template>

<script>
import { mapActions } from "vuex";
import ModalWindow from "../../components/modal-window.vue";
import http from "../../plugins/http.js";
import getErrors from '../../plugins/getErrors'

export default {
    components: {ModalWindow},
    data() {
        return {
            project: {name: ''},
            errors: null
        }
    },
    head() {
        return {
            title: 'Editando un proyecto'
        }
    },
    mounted() {
        if (this.isEditing) {
            this.project.name = this.projects.filter(p => p._id === this.projectId)[0].name
        }
    },
    computed: {
        projects() {
            return this.$store.state.project.items
        },
        isEditing() {
            return typeof this.projectId === 'string'
        },
        projectId() {
            return this.$route.query.projectId
        },
        modalTitle() {
            return this.isEditing ? 'Editando proyecto' : 'Añadiendo proyecto'
        },
        buttonText() {
            return this.isEditing ? 'Guardar proyecto' : 'Enviar proyecto'
        }
    },
    methods: {
        ...mapActions('project', ['addProject', 'editProject']),
        async submitForm() {
            try {
                console.log('ssdsdsd');
                if (this.isEditing) {
                    await this.editProject(this.project)
                } else {
                    await this.addProject(this.project)
                }
            } catch (error) {
                const [message, errorsData] = error.response.data.message.split('|')
                this.errors = getErrors(JSON.parse(errorsData).errors)
                this.errorsMessage = message
                console.log(this);
            }
        }
    }
}
</script>