<template>
<v-row>
    <v-col>
        <v-row justify="space-between">
            <v-col>
                <h2>Listado de proyectos</h2>
            </v-col>
            <v-col class="d-flex" align-self="end">
                <v-spacer />
                <v-btn elevation="0" text class="ma-2" :color="showArchived ? 'primary' : 'normal'" @click="() => toggleShowArchive()">
                    {{showArchived ? 'Ocultar' : 'Mostrar'}} archivados
                </v-btn>
                <v-btn elevation="0" color="#DCA56F" dark class="ma-2" to="/edit-project">Añadir proyecto</v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" md="6" v-for="i in projects" :key="i.name">
                <project-tile :project="i" />
            </v-col>
        </v-row>
        <nuxt-child />
    </v-col>
</v-row>
</template>

<script>
import ProjectTile from '../components/project-tile.vue'
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";

export default {
    components: {ProjectTile},
    head() {
        return {
            title: 'Listado de proyectos'
        }
    },
    async mounted() {
        await this.fetchProjects()
    },
    computed: {
        ...mapGetters('project', ['projects']),
        ...mapState('project', ['showArchived'])
    },
    methods: {
        ...mapActions('project', ['fetchProjects']),
        ...mapMutations('project', ['toggleShowArchive'])
    }
}
</script>