<template>
    <v-row>
        <v-col>
            <h2>Gestion de usuarios</h2>
            <v-row>
              <v-col class="d-flex justify-end">
                <v-btn text class="mr-4" :color="archived ? 'primary' : ''" :dark="archived" @click="toggleArchived">Mostrar archivados</v-btn>
                <v-btn @click="$router.push('/users/edit-user')" elevation="0" color="#DCA56F" dark >Añadir usuario</v-btn>
              </v-col>
            </v-row>
            <v-data-iterator class="mt-4" :items="users" hide-default-footer>
              <template v-slot:default="{items}">
                <div class="users">
                  <user :user="item" v-for="(item, index) in items" :key="index" />
                </div>
                <!--v-row>
                  <v-col cols="12" md="3" v-for="(item, index) in items" :key="index">
                    <v-card :color="item.archived ? 'red' : ''" :dark="item.archived">
                      <v-card-title>{{item.name}} {{item.surname}}</v-card-title>
                      <v-card-text>
                        <ul>
                          <li><strong>Email</strong>: {{item.email}}</li>
                          <li><strong>Mas información</strong>: {{item.description}}</li>
                        </ul>
                      </v-card-text>
                      <v-card-actions>
                        <v-row>
                          <v-col>
                            <v-btn outlined :to="'/users/edit-user?id=' + item._id">Editar</v-btn>
                            <v-btn outlined @click="() => archiveUser(item._id, !item.archived)">Archivar</v-btn>
                          </v-col>
                        </v-row>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row-->
              </template>
            </v-data-iterator>
            <nuxt />
        </v-col>
    </v-row>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
import getErrors from "../../plugins/getErrors"
import { motivosContacto, tipoAtencion } from "../../../userconstants";
import User from '../../components/user'
export default {
  components: {User},
    head() {
      return {
        title: "Gestion de usuarios"
      }
    },
    methods: {
      ...mapActions('users', ['getUsers', 'updateUser']),
      ...mapMutations('users', ['toggleArchived']),
      errorFor(key) {
        return this.errors && this.errors[key] || null
      },
      async archiveUser(id, archived) {
        await this.updateUser({
          archived: archived,
          _id: id
        })
        console.log(archived);
      },
    },
    computed: {
      ...mapGetters('users', ['users']),
      ...mapState('users', ['archived']),
    },
    async mounted() {
      await this.getUsers()
    }
}
</script>

<style lang="scss" scoped>
.users {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
</style>