<template>
    <v-app>
        <v-app-bar color="#DCA56F" elevation="0" dark app>
            <v-toolbar-title style="cursor: pointer;" @click="$router.push('/')">
                Finances app
            </v-toolbar-title>
            <v-spacer />
            <v-btn text to="/users">Usuarios</v-btn>
        </v-app-bar>

        <v-main>
            <v-container>
                <nuxt />
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
export default {
    
}
</script>