@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

html {
    background-color: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

.fab {
    position: fixed;
    bottom: 32px;
    right: 32px;
    font-size: 3em;
    color: steelblue;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    &-label {
        font-size: 1.5em;
    }
    &-box {
        outline:none;
        border: 0px;
        border-bottom: 1px solid black;
        font-size: 1.2em;
    }
}

.button {
    border: 0px;
    background: steelblue;
    font-size: 1.5em;
    color: white;
    padding: 0.25em 0.5em;
    cursor: pointer;
    &--mini {
        font-size: 1.1em;
        padding: 0.2em 1em;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    & > button {
        margin: 0px 10px;
    }
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-flex {
    display: flex;
    justify-content: space-around;
}